/*****************************************************************************/
/*
/* Breadcrumbs 
/*
/*****************************************************************************/

.breadcrumbs {
    margin: 6.4rem 0;
}
.breadcrumbs img {
    height: 4.8rem;
}
.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs li {
    display: inline;
    margin: 0;
    padding: 0;
}
