/* Import base styles from www.gittip.com. By doing this internally rather than
 * externally, we have access to all of our Sass mixins. */

@import "../repos/www.gittip.com/scss/gittip.scss";

@import "homepage";
@import "breadcrumbs";
@import "bottom-nav";


/*****************************************************************************/
/*
/* Responsiveness
/*
/*****************************************************************************/

@media (max-width: 950px) {
    .header h1 {
        float: none;
        text-align: center;
    }
    .nav {
        text-align: center;
    }
}

@media (max-width: 580px) {
    .nav li {
        float: none;
        width: 100%;
    }
}
