/*****************************************************************************/
/*
/* Content Pages
/*
/*****************************************************************************/

.tools-next {
    margin: 96px 0 0;
    .tools {
        width: 50%;
        float: left;
    }
    .next {
        float: right;
        width: 50%;
        h2 {
            display: inline;
        }
        text-indent: -1em;
        padding-left: 1em;
    }
}

@media screen and (max-width: 479px) {
    #page .content {
        padding: 0 5% 120px;
    }
}
