/*****************************************************************************/
/*
/* Content Pages
/*
/*****************************************************************************/

.next {
    margin: 48px 0 0;
    overflow: auto;
    text-align: right;
    h2 {
        display: inline;
    }
}

@media screen and (max-width: 700px) {
    #page .content {
        margin-bottom: 64px;
    }
}
@media screen and (max-width: 479px) {
    #page .content {
        padding: 0 5%;
    }
}
