/*****************************************************************************/
/*
/* Content Pages
/*
/*****************************************************************************/

.internal-notice {
    font: normal 12px/18px $ideal;
    border-left: 36px solid $gold;
    padding-left: 10px;
    text-align: left;
    margin: 10px 0 64px;
}

.next {
    margin: 48px 0 0;
    overflow: auto;
    text-align: right;
    h2 {
        display: inline;
    }
}

@media screen and (max-width: 700px) {
    #page .content {
        margin-bottom: 64px;
    }
}
@media screen and (max-width: 479px) {
    #page .content {
        padding: 0 5%;
    }
}
