/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.homepage {
    background: $brown;

    .top {
        background: $white;
        text-align: center;
        h1 {
            line-height: 0;
            margin: 0;
            img { width: 100%; }
        }
        p {
            padding: 0 8.55% 1em;
            font: italic 16px/24px $surveyor;
            color: $black;
            span {
                font-style: normal;
            }
        }
    }

    .toc {
        width: 100%;
        padding: 5% 8.55%;
        overflow: auto; /* http://www.quirksmode.org/css/clearing.html */

        section {
            width: 30%;
            margin: 0 1.5%;
            float: left;
            color: $white;
            li {
                list-style: none;
                margin-left: 1em;
                text-indent: -1em;
            }
            a {
                color: $white;
                font-family: $ideal;
                font-weight: 300;
            }

            &:nth-child(1) {
            }
        }

        h1, h2 {
            color: $gold ! important;
        }

    }
}

@media screen and (max-width: 600px) {
    .homepage {
        .toc {
            text-align: center;
            section {
                margin-bottom: 2em;
                float: none;
                width: auto;
                li {
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }
            }
        }
    }
}

