/*****************************************************************************/
/*                                                                           */
/* Page Layout                                                               */
/*                                                                           */
/*****************************************************************************/

/* Needed for iframe pages to work properly. */
html { height: 100%; }
body { height: 100%; }

body {
    font: 300 16px/170% $chronicle;
    font-weight: 300;
    color: $black;
    background: $white;
}

#page {
    background: transparentize($white, 0.1);
}

.content {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 100px;
}

.internal-notice {
    font: normal 12px/18px $ideal;
    border-left: 36px solid $gold;
    padding-left: 10px;
    text-align: left;
    margin: 10px 0 64px;
}

.next {
    margin: 48px 0 0;
    overflow: auto;
    text-align: right;
    h2 {
        display: inline;
    }
}

@media screen and (max-width: 940px) {
    #page .content {
        width: 460px;
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #page .content {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 479px) {
    body {
        font: normal 14px/21px $chronicle;
    }
    #page .content {
        padding: 0 5%;
    }
}
