/*****************************************************************************/
/*
/* Override styles from the base www.gittip.com stylesheet.
/*
/*****************************************************************************/

#page { padding: 0; }
h2:nth-child(1) { margin-top: 0 !important; }
ol { margin-bottom: 2em; }
.content { padding-bottom: 120px; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
ul li { list-style: circle; margin-left: 3em; }

// for brand page
.chip {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-right: 16px;
    color: white;
    text-align: center;
    line-height: 64px;

    &.green { background: $green; }
    &.brown { background: $brown; }
}
