/*****************************************************************************/
/*                                                                           */
/* All RWD rules in one place                                                */
/*                                                                           */
/*****************************************************************************/

@media screen and (max-width: 940px) {
    #page .content {
        width: 460px;
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #page .content {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 479px) {
    body {
        font: normal 14px/21px $surveyor;
    }
    #page .content {
        padding: 0 5%;
    }
    .bottom a.toc {
        text-align: right;
        padding-right: 24px;
    }
}
