/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

body {
    font-size: 2.7rem;
    line-height: 150%;
    font-family: Arial, sans-serif;
    background: #FFF;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font: bold 100% Arial, sans-serif;
    color: #339966;
}

h1 img {
    width: 100%;
}

h2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin: 0 0 2.1333rem;
}
h2 a {
    color: #339966 ! important;
    text-decoration: none;
}

h3 {
    font-size: 4.0rem;
    line-height: 3.6rem;
    margin: 4.0rem 0 1.4rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0 0 1.3rem;
}

p {
    text-indent: 0;
    margin: 0;
    padding: 0 0 1.5rem;
    line-height: 4.0rem;
}

blockquote {
    line-height: 150%;
    font-style: italic;
    margin: 2.4rem 0;
    padding: 0 0 0 1.2rem;
    border-left: 0.6rem solid black;
}
blockquote span {
    font-style: normal;
}
blockquote > p:nth-child(1) {
    text-indent: 0;
}

ul, ol {
    margin: 0;
    padding: 0rem 0 0rem 1.5rem;
}

dl {
}
dt {
    font-weight: bold;
}
dd {
    padding: 0.5rem 0 1.5rem 1.5rem;
}

strong, b {
    color: #339966;
    font-weight: normal;
    font-style: italic;
}

.clear {
    clear: both;
}


/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.content {
    max-width: 76.8rem;
    margin: 0 auto 11.2rem;
    padding: 0 5%;
}

.breadcrumbs {
    margin: 6.4rem 0;
}
.breadcrumbs img {
    height: 4.8rem;
}
.breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs li {
    display: inline;
    margin: 0;
    padding: 0;
}

.bottom-nav {
    width: 100%;
    height: 8.2656rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url("/assets/hero-bg.png");
    border-top: 0.1rem solid #dddddd;
}
.bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.bottom-nav li {
    font: bold 1.6rem/1.6rem Arial, sans-serif;
    overflow: hidden;
    display: inline-block;
    width: 12%;
    text-align: left;
    border: 0.2rem solid #663300;
    font-weight: bold;
    border-radius: 0.4rem;
    margin: 1.0667rem 0 0 0.75%;
    padding: 0;
}
.bottom-nav li:nth-child(2) {
    margin-left: 0;
}
.bottom-nav li:nth-child(1) {
    float: right;
    background: none;
    border: none;
    text-align: center;
    height: 10.656rem;
    width: 13.6rem;
}
.bottom-nav li:nth-child(1) a {
    padding: 0;
}
.bottom-nav li:nth-child(1) a:hover {
    background: transparent;
}
.bottom-nav li:nth-child(1) img {
    height: 10.656rem;
}
.bottom-nav li a {
    display: block;
    text-decoration: none;
    color: #663300;
    padding: 0.4rem;
    height: 4.8rem;
}
.bottom-nav li a:hover {
    color: #339966;
}


/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.homepage {
    margin: 2.4rem auto;
}
.homepage .top-nav {
    width: 100%;
    background: url("/assets/hero-bg.png");
    border: 1px solid #dddddd;
    border-style: solid none;
    line-height: 0;
}
.homepage .top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.homepage .top-nav li {
    font: bold 3rem/3rem Arial, sans-serif;
    overflow: hidden;
    display: inline-block;
    width: 20%;
    text-align: left;
    border: 0.25rem solid #663300;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: 5% 0 5% 2%;
    padding: 0;
    background: white;
}
.homepage .top-nav li:nth-child(1) {
    margin-left: 0;
}
.homepage .top-nav li a {
    display: block;
    text-decoration: none;
    color: #663300;
    padding: 1rem;
    height: 9rem;
}
.homepage .top-nav li a:hover {
    color: #339966;
}
.homepage .lower {
    padding: 5%;
    margin: 0.2667rem;
    font: normal 1.6rem/2.1rem Arial, sans-serif;
}
.homepage .lower.channels {
    width: 28%;
    float: left;
}
.homepage .lower.right {
    padding-left: 38%;
    padding-right: 5%;
}
.homepage .lower p {
    line-height: 2.1rem;
}

/*****************************************************************************/
/*
/* Responsiveness
/*
/*****************************************************************************/

@media (max-width: 950px) {
    .header h1 {
        float: none;
        text-align: center;
    }
    .nav {
        text-align: center;
    }
}

@media (max-width: 580px) {
    .nav li {
        float: none;
        width: 100%;
    }
}
