/*****************************************************************************/
/*                                                                           */
/* http://inside.gratipay.com/                                               */
/*                                                                           */
/*****************************************************************************/

.homepage {
    background: url('/assets/inside.jpg') 50% 50% repeat-y;
    background-size: cover;

    .top {
        background: transparentize($white, 0.2);
        position: relative;

        h1 {
            line-height: 0;
            margin: 0;
            img {
                width: 50%;
                margin: -20% 0 12px 12px;
            }
        }
        .welcome {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            padding: 0 24px;
            color: $brown;
            span { white-space: nowrap; }
        }
        p {
            font: normal 18px/22px $surveyor;
            text-align: right;
        }
    }

    .toc {
        width: 100%;
        padding: 5% 8.55%;
        overflow: auto; /* http://www.quirksmode.org/css/clearing.html */
        background: transparentize($brown, 0.1);

        section {
            width: 30%;
            margin: 0 1.5%;
            float: left;
            color: $white;
            li {
                list-style: none;
                margin-left: 1em;
                text-indent: -1em;
            }
            a {
                color: $white;
                font-family: $ideal;
                font-weight: 300;
            }

            &:nth-child(1) {
            }
        }

        h1, h2 {
            color: $gold ! important;
        }

    }
}

@media screen and (max-width: 600px) {
    .homepage {
        .top {
            p {
                font: normal 16px/19px $surveyor;
            }
        }
        .toc {
            text-align: center;
            section {
                margin-bottom: 2em;
                float: none;
                width: auto;
                li {
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }
            }
        }
    }
}
@media screen and (max-width: 479px) {
    .homepage .top {
        p {
            font: normal 14px/17px $surveyor;
        }
        .welcome span {
            white-space: normal;
        }
    }
}
