/*****************************************************************************/
/*                                                                           */
/* templates/iframed.html                                                    */
/*                                                                           */
/*****************************************************************************/

iframe.full-page {
    width: 100%;
    height: calc(100% - 64px);
    border: 0;
}
