<!doctype html>
<html>
    <head>

        <title>{{ nav_title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <meta property="og:image" content="http://building.gittip.com/assets/logo.svg" />
        <meta property="og:url" content="http://building.gittip.com/" />
        <meta property="og:description" content="Documentation for people building Gittip." />
        <meta property="og:title" content="Building Gittip" />

        <link rel="stylesheet" type="text/css"
              href="//cloud.typography.com/6540672/682244/css/fonts.css" />
        <link rel="stylesheet" type="text/css"
              href="/assets/{{ website.version }}/building.gittip.css">

    </head>
    {% macro toc(nav) %}
        <ul>
            {% for child in nav.children %}
            <li><a href="{{ child.url }}">{{ child.title }}</a>{% if child.children %}
            {{ toc(child) }}
            {% endif %}</li>
            {% endfor %}
        </ul>
    {%- endmacro %}
    {% block body %}<body>
        {% block page %}
        <div id="page">
            <div class="content col0">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/"><img src="/assets/building-gittip-tight.svg"></a></li>
                    </ul>
                </div>
                {% if nav_title %}<h1>{{ nav_title }}</h1>{% endif %}
                {% block content %}{% endblock %}
                {% if nav_next.by_fs %}
                <div class="next"><div>
                    <h2>Next:</h2> <a href="{{ nav_next.url }}">{{ nav_next.title }}</a>
                </div></div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        <div class="bottom"><div class="tools"><a
                href="{{ nav_current.discuss_url }}" class="tool icon-bubble"
                title="Discuss on GitHub"></a><a
                href="{{ nav_current.edit_url }}" class="tool icon-pencil"
                title="Edit on GitHub"></a></div><a
            class="toc" href="/">Table of Contents</a>
        </div>
    </body>{% endblock %}
</html>
