<!doctype html>
<html>
    <head>

        <title>{{ nav_title }}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <meta property="og:image" content="http://building.gittip.com/assets/logo.svg" />
        <meta property="og:url" content="http://building.gittip.com/" />
        <meta property="og:description" content="Documentation for people building Gittip." />
        <meta property="og:title" content="Building Gittip" />

        <link rel="stylesheet" type="text/css"
              href="//cloud.typography.com/6540672/682244/css/fonts.css" />
        <link rel="stylesheet"
              href="http://i.icomoon.io/public/temp/f69ffede16/UntitledProject1/style.css">
        <link rel="stylesheet" type="text/css"
              href="/assets/{{ website.version }}/building.gittip.css">

    </head>
    {% macro toc(nav) %}
        <ul>
            {% for child in nav.children %}
            <li><a href="{{ child.url }}">{{ child.title }}</a>{% if child.children %}
            {{ toc(child) }}
            {% endif %}</li>
            {% endfor %}
        </ul>
    {%- endmacro %}
    {% block body %}<body>
        {% block page %}
        <div id="page">
            <div class="content col0">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/"><img src="/assets/building-gittip-tight.svg"></a></li>
                    </ul>
                </div>
                {% if nav_title %}<h1>{{ nav_title }}</h1>{% endif %}
                {% block content %}{% endblock %}
                <div class="tools-next">
                    <div class="tools">
                        <a href="{{ nav_current.discuss_url }}" class="icon icon-bubble"
                            title="Discuss on GitHub"></a>
                        &nbsp;
                        <a href="{{ nav_current.edit_url }}" class="icon icon-pencil"
                            title="Edit on GitHub"></a>
                        &nbsp;
                    </div>
                    <div class="next">
                        {% if nav_next.by_fs %}
                        <h2>Next:</h2> <a href="{{ nav_next.url }}">{{ nav_next.title }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="bottom-nav">
            <ul>
                <li><a href="/"><img src="/assets/schematic-heart-coin.svg" alt="Home"></a></li>
                {% for child in website.nav.children %}<li><a href="{{ child.url }}">{{ child.title }}</a></li>{% endfor %}
            </ul>
        </div>
    </body>{% endblock %}
</html>
