<div class="top">
    <h1><a href="/"><img src="/assets/inside-gratipay.svg" alt="Inside Gratipay"></a></h1>

    <div class="welcome">

        <p>
            <span>This is <a href="https://gratipay.com/">Gratipay</a>'s</span>
            <span>internal company portal.</span>
            <span>First time here? Welcome!</span>
            <span>Start at <a href="/big-picture/welcome">the top</a>.
                <span class="smile">:-)</span>
            </span>
        </p>

    </div>
</div>
