/*****************************************************************************/
/*                                                                           */
/* Top logo and welcome                                                      */
/*                                                                           */
/*****************************************************************************/

.top {
    background: transparentize($white, 0.2);
    position: relative;

    h1 {
        line-height: 0;
        margin: 0;
        img {
            width: 24%;
            margin: -12% 0 12px 12px;
        }
    }
    .welcome {
        position: absolute;
        top: 12px;
        right: 0;
        width: 70%;
        padding: 0 24px;
        color: $brown;
        span { white-space: nowrap; }
    }
    p {
        font: normal 14px/18px $chronicle;
        font-style: italic;
        text-align: right;
        .smile {
            font-style: normal;
            white-space: nowrap ! important;
        }
    }
}

.homepage {
    .top {
        h1 {
            img {
                width: 50%;
                margin: -20% 0 12px 12px;
            }
        }
        .welcome {
            top: auto;
            bottom: 0;
            right: 0;
            width: 50%;
        }
        p {
            font: normal 18px/22px $chronicle;
        }
    }
}


@media screen and (max-width: 600px) {
    .homepage .top p {
        font-size: 16px;
        line-height: 19px;
    }
    .top p {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 479px) {
    .homepage .top {
        p {
            font-size: 14px;
            line-height: 17px;
        }
        .welcome span {
            white-space: normal;
        }
    }
    .top {
        p {
            font-size: 10px;
            line-height: 13px;
        }
        .welcome span {
            white-space: normal;
        }
    }
}
